<ul class="breadcrumb">
	<% if t_study %>
		<li><%= t_study %> <span class="divider"> /</span></li>
	<% end %>
	<% if t_dvp %>
		<li><%= t_dvp %> <span class="divider"> /</span></li>
	<% end %>
	<% if t_ec %>
		<li><%= t_ec %> <span class="divider"> /</span></li>
	<% end %>
</ul>
