<%= breadcrumb('dvp', @dvp) %>
<div class="row-fluid">
  <div class="span2">
  <%= render 'domain_list' %>
</div>
  <!-- ec list -->
  <div class="span9">
  <h4> Edit EC </h4>
  <%= render 'ec_form' %>
</div>
  <!-- ec list end -->
</div>
