.bordered-div {
  border:1px solid #dddddd;
  margin:0px;
	margin-right: 10px;
  padding:5px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}
